body {
    background-color: #F7F7F7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin-top: 50px;
}

#question-container {
    background-color: #FFF;
    border: 2px solid #EEE;
    border-radius: 10px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    width: 500px;
}

#answer-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

button {
    background-color: #008CBA;
    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

button:hover {
    background-color: #006B8F;
}

#score-container {
    text-align: center;
    margin-top: 50px;
}

#score {
    font-size: 24px;
    font-weight: bold;
}


nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 19px;
  
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

h1 {
  margin-top: 50px;
  text-align: center;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2px;

}

