body {
  background-color: #F7F7F7;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 19px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

h1 {
  margin-top: 50px;
  text-align: center;
}

header {
  flex-shrink: 1;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2px;
  font-size: 16px;
}

.card {
  width: 250px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.card h2 {
  margin-top: 10px;
  font-size: 20px;
}

.card p.dev {
  margin-top: 10px;
  font-size: 14px;
}

.card .icons {
  margin-top: 10px;
}

.card .icons a {
  margin: 5px;
}

.card .icons img {
  width: 25px;
  height: 25px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
  }

  .card img {
    width: 100px;
    height: 100px;
  }
}
